.ajout {
    text-align: center;
    margin: 30px 0;
}

.chose {
    text-align: center;
    margin: 50px 0px;
}


.todo {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}